<div class="row" style="text-align: center">
	<div class="col">
		<div class="card h-100" style="width: 18rem;">
  			<img src="{{random_recipe1.img}}" class="card-img-top">
  			<div class="card-body">
  				<h5 class="card-title" style="color: crimson">{{random_recipe1.title}}</h5>
    			<a href="/entry/{{random_recipe1.entry}}" class="btn btn-light my-2" style="color: white; background-color: crimson">Bon appetit !</a>
  			</div>
		</div>
	</div>

	<div class="col">
		<div class="card h-100" style="width: 18rem;">
  			<img src="{{random_recipe2.img}}" class="card-img-top">
  			<div class="card-body">
  				<h5 class="card-title" style="color: crimson">{{random_recipe2.title}}</h5>
    			<a href="/entry/{{random_recipe2.entry}}" class="btn btn-light my-2" style="color: white; background-color: crimson">Au fourneau !</a>
  			</div>
		</div>
	</div>

	<div class="col">
		<div class="card h-100" style="width: 18rem;">
  			<img src="{{random_recipe3.img}}" class="card-img-top">
  			<div class="card-body">
  				<h5 class="card-title" style="color: crimson">{{random_recipe3.title}}</h5>
    			<a href="/entry/{{random_recipe3.entry}}" class="btn btn-light my-2" style="color: white; background-color: crimson">Délicieux !</a>
  			</div>
		</div>
	</div>
</div>